<!-- app.component.html -->
<div class="table-container">
    <h2 class="title">Usuarios</h2>
    <input [(ngModel)]="searchTerm" placeholder="Buscar...">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Creado en</th>
                <th>Actualizado en</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of filteredData">
                <td>{{ item.name }}</td>
                <td>{{ item.lastName }}</td>
                <td>{{ item.createdDate }}</td>
                <td>{{ item.updatedDate }}</td>
                <td><button class="btn btn-warning">Editar</button></td>
            </tr>
        </tbody>
    </table>
</div>