<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario - PuntoFerretero</title>
    <!-- Asegúrate de tener Bootstrap CSS en tu proyecto -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h2 class="mt-5">Formulario - Crear Producto</h2>
        <form>
            <div class="form-group">
                <label for="nombre">Nombre del producto</label>
                <input type="text" class="form-control" id="nombre" placeholder="Ingresa el nombre">
            </div>
            <div class="form-group">
                <label for="category">Categoria</label>
                <input type="text" class="form-control" id="category" placeholder="Ingresa la categoria">
            </div>
            <div class="form-group">
                <label for="count">Clave</label>
                <input type="number" class="form-control" id="count" placeholder="Ingresa cantidad">
            </div>
            <div class="form-group">
                <label for="description">Repetir Clave</label>
                <input type="text" class="form-control" id="description" placeholder="Ingresa descripcion">
            </div>
            <span (click)="onSubmit()">go</span>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</body>

</html>