<div class="padre">
    <div class="login-container">
        <h2 class="title">Iniciar sesión</h2>
        <form class="login-form">
            <label for="username">Nombre y apellido</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password" required>
            <button (click)="login()" type="submit" class="submit-button">Iniciar sesión</button>
        </form>
    </div>
</div>