<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario - PuntoFerretero</title>
    <!-- Asegúrate de tener Bootstrap CSS en tu proyecto -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h2 class="mt-5">Formulario - Crear Categoria</h2>
        <form>
            <div class="form-group">
                <label for="nombre">Nombre de la categoria</label>
                <input type="text" class="form-control" name="name" [(ngModel)]="nombre" id="nombre"
                    placeholder="Ingresa el nombre">
            </div>
            <div class="form-group">
                <label for="descripcion">Descripcion</label>
                <input type="text" class="form-control" name="descripcion" [(ngModel)]="descripcion" id="descripcion"
                    placeholder="Ingresa una descripcion">
            </div>
            <button type="submit" class="btn btn-primary">Guardar Categoria</button>
        </form>
    </div>
</body>

</html>