img {
    height: 138px;
    border-radius: 27px;
    margin-left: 2rem;
    cursor: pointer;
}

.text {
    cursor: pointer;
}

.selector {
    display: flex;
    gap: 3rem;
    justify-content: center;
    padding-top: 10rem;
}