<!-- app.component.html -->
<div class="table-container">
    <h2 class="title">Productos</h2>
    <input [(ngModel)]="searchTerm" placeholder="Buscar...">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Categoria</th>
                <th>Cantidad</th>
                <th>Descripcion</th>
                <th>Descuento</th>
                <th>Actualizado en</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of filteredData">
                <td>{{ item.nombre }}</td>
                <td>{{ item.category }}</td>
                <td>{{ item.qty }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.discount }}</td>
                <td>{{ item.updated }}</td>
                <td><button class="btn btn-warning">Editar</button></td>
            </tr>
        </tbody>
    </table>
</div>