<header>

    <h1 class="logo">PuntoFerretero</h1>
    <nav>
        <ul class="menu">
            <li><a (click)="goTo('/')">Inicio</a></li>
            <li><a (click)="goTo('/products')">Productos</a></li>
            <li><a (click)="goTo('/categories')">Categorias de Productos</a></li>
            <li><a (click)="goTo('/users')">Usuarios</a></li>
            <li><a (click)="goTo('/sales')">Ventas</a></li>
            <li><a (click)="goTo('/discounts')">Descuentos</a></li>
            <li><a (click)="goTo('/contacto')">Contacto</a></li>
        </ul>
    </nav>
</header>