<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario - PuntoFerretero</title>
    <!-- Asegúrate de tener Bootstrap CSS en tu proyecto -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h2 class="mt-5">Formulario - Crear Producto</h2>
        <form name="product">
            <div class="form-group">
                <label for="nombre">Nombre del producto</label>
                <input type="text" class="form-control" name="name" [(ngModel)]="nombre" id="nombre"
                    placeholder="Ingresa el nombre">
            </div>
            <div class="form-group">
                <label for="category">Categoria</label>
                <!--  <input type="text" class="form-control" name="category" [(ngModel)]="category" id="category"
                    placeholder="Ingresa la categoria"> -->
                <select name="categoriaSeleccionada" [(ngModel)]="categoriaSeleccionada">
                    <option *ngFor="let opcion of opciones" [value]="opcion">{{opcion.productcategoryName}}</option>
                </select>

            </div>
            <div class="form-group">
                <label for="count">Cantidad</label>
                <input type="number" class="form-control" name="count" [(ngModel)]="count" id="count"
                    placeholder="Ingresa cantidad">
            </div>
            <div class="form-group">
                <label for="description">Descripcion</label>
                <input type="text" class="form-control" name="description" [(ngModel)]="description" id="description"
                    placeholder="Ingresa descripcion">
            </div>

            <div class="form-group">
                <label for="buyingPrice">Precio de Compra</label>
                <input type="number" class="form-control" name="buyingPrice" [(ngModel)]="buyingPrice" id="buyingPrice"
                    placeholder="Ingresa un precio de compra">
            </div>

            <div class="form-group">
                <label for="sellingPrice">Precio de Venta</label>
                <input type="number" class="form-control" name="sellingPrice" [(ngModel)]="sellingPrice"
                    id="sellingPrice" placeholder="Ingresa un precio de venta">
            </div>
            <button type="button" (click)="onSubmit()" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</body>

</html>